@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: rgb(50, 50, 50);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight:500;
    color: white;
    text-decoration: none;
}

header {
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}