@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    text-shadow: 0px 0px 7px#000000;
    font-size: 100px;
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    user-select: none;	
}  
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

h1 {
    
    font-weight: bolder;
    display: flex;
    margin-left: 45%;
    margin-right: 50%;
    font-size: 70px;
    text-shadow: 0px 0px 7px#000000;
  }



*{
    font-size: 30px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvideo.cgtn.com%2Fnews%2F2020-05-29%2FMineral-extraction-banned-in-Qinling-Mountains--QT2HtUJSgg%2Fvideo%2F712732315f0849c691c42aacc5b4f516%2F712732315f0849c691c42aacc5b4f516.jpg&f=1&nofb=1&ipt=83901e1ec4c3f7507412721132e4470b4829c8b39d9d6d4fefabf085ecf24517&ipo=images") center no-repeat;
	background-size: cover;
	position: relative;
  overflow: hidden;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
    margin-right: 20px;
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand{
	height: 100;
	width: 100;
    margin-inline: initial;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}



nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn 1s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0.5s;
}

nav ul li:nth-child(2){
	animation-delay: 1s;
}

nav ul li:nth-child(3){
	animation-delay: 1.5s;
}

nav ul li:nth-child(4){
	animation-delay: 2s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: rgb(9, 175, 212);
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(3, 175, 181, 0.883);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		dlay: blispock;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
#Falsz1{
	border-radius:20px;
	margin-left: 1000px;
	margin-top: 696px;
	width: 300px;
	height: 200px;
	justify-content: center;
	position: fixed;
	background: linear-gradient(90deg, #B10000 0%, #731313 100%);
	font-size: 50px;
	font-weight: 600;
	font-family: dosis, sans-serif;
	text-shadow: 0px 0px 10px 9px;
	box-shadow: 0px 0px 40px 5px rgb(215, 215, 215);
}

#Prawda1{
	border-radius:20px;
	margin-left: 569px;
	margin-top: 696px;
	width: 300px;
	height: 200px;
	justify-content: center;
	position: fixed;
	background: linear-gradient(90deg, #35AB07 0%, #0B5D0F 100%);
	
	font-size: 50px;
	font-weight: 600;
	font-family: dosis, sans-serif;
	text-shadow: 0px 0px 10px 9px;
	box-shadow: 0px 0px 40px 5px rgb(215, 215, 215);
}

#img1{
	width: 300px;
	height: 500px;
	margin-left: 40%;
	margin-right: 50%;
	margin-top: 125px;
	position: absolute;
	justify-content: center;
	display: flexbox;

}

#text1{
	margin-left: 33%;
	margin-right: 50%;
	margin-top: 200px;
	font-size: 80px;
	font-weight: 600;
	position: absolute;
	justify-content: center;
	display: flexbox;
	text-transform: capitalize;
	white-space: nowrap
}

#Falsz1text{
	
	margin-left: 47%;
	margin-right: 50%;
	margin-top: 100px;
	font-size: 70px;
	font-weight: 600;
	position: absolute;
	justify-content: center;
	display: flexbox;
	text-transform: capitalize;
	white-space: nowrap;
	display: none;

}



@keyframes iddk {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}




  
  @keyframes asdasd {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}
.quiz {
	width: 500px;
	margin: 50px auto;
	
  }

#quizContainer {
	width: 60%;
	margin: 0 auto;
	
  }
  
  #question {
	
	margin-right: 60%;
	white-space: nowrap;
	font-size: 80px;
	margin-bottom: 20px;

  }
  
  #score {
	color: #6c6d6d;
	outline: 30px;
	color-scheme: rgb(94, 94, 94);
	font-weight: 700;
	font-size: 100px;
	text-align: center;
	justify-content: center;
	margin-bottom: 40px;
  }
  
  button {
	text-align: center;
	font-size: 16px;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
  }
  #choices{
	text-align: center;




  }